<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="Login Automation">
        <classes>
            <class name="testCases.LoginTest"/>
            <class name="testCases.LoginTestInValid"/>
            <class name="testCases.LoginTestDDT"/>
            <class name="testCases.LoginTestDDT_Excel"/>
        </classes>
    </test>
</suite>